*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #f0f2f5;
    color: #5f5f5f;
}

/* navbar section start  */

a{
    text-decoration:none;
    color: #5f5f5f;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}

.logo img{
    width: 30px;
    margin-right: 15px;
    display: block;
}

.navbar-center ul li {
    display: inline-block;
    list-style: none;
}

.navbar-center ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
}

.navbar-center ul li a img{
    width: 30px;
}

.nav-profile-img{
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0;
    top: 0;
    background: #41db51;
    position: absolute;
}
